@model InvoiceMaker.Application.Dto.BuyerDto

@{
    ViewData["Title"] = @Model.Name + " - podgląd";
}

<div>
    <h2>@Model.Name - podgląd </h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            NIP
        </dt>
        <dd class = "col-sm-10">
            @Model.VATID
        </dd>
        <dt class = "col-sm-2">
            Ulica
        </dt>
        <dd class = "col-sm-10">
            @Model.StreetAndNo
        </dd>
        <dt class = "col-sm-2">
            Kod pocztowy
        </dt>
        <dd class = "col-sm-10">
            @Model.Postcode
        </dd>
        <dt class = "col-sm-2">
            Miasto
        </dt>
        <dd class = "col-sm-10">
            @Model.City
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Invoice" asp-action="BuyerEdit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="BuyerIndex">Wróć do listy</a>
</div>
