@model IEnumerable<InvoiceMaker.Application.Dto.SellerDto>

@{
    ViewData["Title"] = "Lista sprzedawców";
}

<h1 class="mb-4">Lista sprzedawców</h1>

<p>
    <a asp-action="CreateSeller" class="btn-main">+ Dodaj nowego sprzedawcę</a>
</p>

<table class="table table-bordered table-striped table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>NIP</th>
            <th>Ulica i nr</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th>Bank</th>
            <th>Numer konta</th>
            <th>SWIFT</th>
            <th class="text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var seller in Model)
        {
            <tr>
                <td>@seller.Id</td>
                <td>@seller.Name</td>
                <td>@seller.VATID</td>
                <td>@seller.StreetAndNo</td>
                <td>@seller.Postcode</td>
                <td>@seller.City</td>
                <td>@seller.Bank</td>
                <td>@seller.BankAccount</td>
                <td>@seller.SWIFT</td>

                <td class="text-center">
                    <div class="d-flex justify-content-center flex-wrap gap-4">
                        <a asp-action="SellerDetails" asp-route-id="@seller.Id" class="btn-info">Szczegóły</a>
                        <a asp-action="SellerEdit" asp-route-id="@seller.Id" class="btn-edit">Edytuj</a>
                        <form asp-action="DeleteSeller" asp-route-id="@seller.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn-delete">Usuń</button>
                        </form>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>
