@model IEnumerable<InvoiceMaker.Application.Dto.BuyerDto>

@{
    ViewData["Title"] = "Lista nabywców";
}

<h1 class="mb-4">Lista nabywców</h1>

<p>
    <a asp-action="Create" class="btn-main">+ Dodaj nowego nabywcę</a>
</p>

<table class="table table-bordered table-striped table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>NIP</th>
            <th>Ulica i nr</th>
            <th>Kod pocztowy</th>
            <th>Miasto</th>
            <th class="text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var buyer in Model)
        {
            <tr>
                <td>@buyer.Id</td>
                <td>@buyer.Name</td>
                <td>@buyer.VATID</td>
                <td>@buyer.StreetAndNo</td>
                <td>@buyer.Postcode</td>
                <td>@buyer.City</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center flex-wrap gap-4">
                        <a asp-action="Details" asp-route-id="@buyer.Id" class="btn-info">Szczegóły</a>
                        <a asp-action="Edit" asp-route-id="@buyer.Id" class="btn-edit">Edytuj</a>
                        <form asp-action="Delete" asp-route-id="@buyer.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn-delete">Usuń</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
